{% extends 'layout/base.html' %}
{% load static %}

{% block title %}관리자 페이지{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<div style="border: 1px black solid;">
    <section class="section mb-5">
        <div class="container mt-5">
            <div class="row my-6">
                <div class="col-lg-3 mb-4">
                    <ul class="nav nav-pills nav-justified flex-column bg-white rounded border p-3 mb-0 sticky-bar"
                            id="pills-tab"
                            role="tablist">
                        <li class="nav-item">
                            <a class="nav-link p-2 px-3 rounded border" href="{% url 'admin_member' %}?mempage=1">회원 관리</a>
                        </li>

                        <li class="nav-item mt-2">
                            <a class="nav-link p-2 px-3 rounded border" href="{% url 'admin_review' %}?repage=1">후기 관리</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link p-2 px-3 rounded border active" href="{% url 'admin_question' %}?qupage=1">고객문의 관리</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="tab-content rounded border p-3">
                                <div class="tab-pane active" id="general-que">
                                    <form class="d-flex">
                                        <input class="form-control w-25" type="search" placeholder="아이디를 입력하세요." id="findid3" name="findid3">
                                        <button class="btn btn-primary ms-1" type="button" id="findbtn3">Search</button>
                                        <button class="form-control" style="width:10%; margin-left: 60% ;" type="button" id="qdelbtn" name="qdelbtn">삭제</button>
                                    </form>
                                     <div class="row mt-n2">
                                        <div class="col"></div>
                                        <div class="col-12">
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr style="height: 40px; vertical-align: middle;">
                                                        <th style="width: 3%">번호</th>
                                                        <th style="width: 3%">아이디</th>
                                                        <th style="width: 3%">이메일</th>
                                                        <th style="width: 3%">접수분류</th>
                                                        <th style="width: 4%">문의제목</th>
                                                        <th style="width: 3%">문의내용</th>
                                                        <th style="width: 7%">문의작성일</th>
                                                        <th style="width: 3%"></th>
                                                    </tr>
                                                </thead>
                                                <form method="post" id="delfrm" name="delfrm">
                                                {% csrf_token %}
                                                {% for q in qds %}
                                                    <tr>
                                                        <td>{{ q.id }}</td>
                                                        <td>{{ q.qname.userid}}</td>
                                                        <td>{{ q.qname.email}}</td>
                                                        <td style="white-space: nowrap">{{ q.qselect }}</td>
                                                        <td>{{ q.qsubject }}</td>
                                                        <td>{{ q.context }}</td>
                                                        <td>{{ q.regdate|date:'Y-m-d' }}</td>
                                                        <td><input type="checkbox" name="delck" value="{{ q.id }}"></td>
                                                    </tr>
                                                {% endfor %}

                                                </form>
                                            </table>
                                        </div>
                                        <div class="col"></div>
                                    </div><!-- 문의관리 -->
                                    <div class="row" style="margin-left: 40%;">
                                    <div class="px-auto">
                                        <!-- STR : 페이징 -->
                                        <ul class="pagination mb-0">
                                        {% if request.GET.qupage|add:0 > 1 %}
                                            <li class="page-item">
                                                <a href="?qupage=1&{{ qry }}" class="page-link pr-2 pl-3 pt-2 pb-2">처음</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="?qupage={{ request.GET.qupage|add:-1 }}&{{ qry }}" class="page-link pr-3 pl-3 pt-2 pb-2">&lt;</a>
                                            </li>
                                        {% endif %}
                                            {% for i in range %}
                                                {% if i <= pages %}
                                                <li class="page-item {% if i == request.GET.qupage|add:0 %}active {% endif %}">
                                                    <a href="?qupage={{ i }}&{{ qry }}" class="page-link pr-3 pl-3 pt-2 pb-2">{{ i }}</a>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% if request.GET.qupage|add:0 < pages %}
                                            <li class="page-item">
                                                <a href="?qupage={{ request.GET.qupage|add:1 }}&{{ qry }}" class="page-link pr-3 pl-3 pt-2 pb-2" >&gt;</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="?qupage={{ pages }}&{{ qry }}" class="page-link pr-3 pl-2 pt-2 pb-2">맨끝</a>
                                            </li>
                                        {% endif %}
                                        </ul>
                                        <!-- END : 페이징 -->
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
        </div>
        </div>
    </section>

</div>
{% endblock %}
{% block script %}
    <script>
    const findbtn3 = document.querySelector('#findbtn3');
    const findid3 = document.querySelector('#findid3');
    const qdelbtn = document.querySelector('#qdelbtn');

    findbtn3?.addEventListener('click', () => {
               qry = '&findid3=' + findid3.value;
               location.href='{% url 'admin_question' %}?qupage=1' + qry;
    });

    qdelbtn?.addEventListener('click', () => {
                confirm('삭제 하시겠습니까?')
                delfrm.submit()
    });
    </script>


{% endblock %}
