<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="container outer-div" >
    <div class="inner-div" style="margin: auto" >

        <section class="section pb-0">

            <div class="container mt-5">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="position-relative">
                            <img src="{% static '/imgs/about_us_img/aboutus1.png' %}" class="rounded img-fluid mx-auto d-block" alt="">
                            <div class="play-icon">
                                <a href="#" class="play-btn video-play-icon">
                                    <i class="mdi mdi-play text-primary rounded-pill bg-white shadow"></i>
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title ml-lg-4">
                            <h4 class="title mb-4">Our Story</h4>
                            <p class="text-muted">케이엠디에스는 고객에게 Lifetime Car Managed Service 를 가장 쉽고 편리하게 제공하자는 것을 목표로 2018년 8월 설립되었습니다. <br>현재는 자동차검사와 자동차딜리버리서비스를 개인고객과 SMB법인 고객을 대상으로 제공해나가며 그 범위를 확장해나가고 있습니다.<br /></p>
                            <p class="text-muted">케이엠디에스는 설립 후 고객의 유형과 성향에 맞는 IT 플랫폼을 기반으로 개인고객과 해태제과, 토마토렌터카, 비마이카 등 SMB 법인고객을 대상으로 모터맨의 우수한 고객경험을 서비스로 제공하는 회사로 성장해 나가고 있습니다.</p>

                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-5 mb-5 ">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">우리를 움직이게 하는 것은</h4>
                            <p class="text-muted para-desc mx-auto mb-0">제품으로서의 자동차가 아닌 서비스로의 자동차라는 시선에서 <span class="text-primary font-weight-bold">케이엠디에스</span> 의 모든 서비스는 시작되며 자동차서비스의 모든 것은 제공하는 것을 목표로 회사의 포트폴리오를 만들어 가고 있습니다. </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class=" d-flex p-3 rounded shadow bg-white">
                                <i class="fas fa-solid fa-car fs-3 mt-2 ms-3 "></i> <h4 class="title mb-0 mt-2 ms-5">자동차</h4>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class=" d-flex p-3 rounded shadow bg-white">
                              <i class="fas fa-solid fa-user fs-3 mt-2 ms-3"></i></i> <h4 class="title mb-0 mt-2 ms-5">고객</h4>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class=" d-flex p-3 rounded shadow bg-white">
                                <i class="fas fa-solid fa-handshake fs-3 mt-2 ms-3 "></i> <h4 class="title mb-0 mt-2 ms-5">파트너</h4>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class=" d-flex p-3 rounded shadow bg-white">
                                <i class="fas fa-solid fa-users fs-3 mt-2 ms-3 "></i></i> <h4 class="title mb-0 mt-2 ms-5">동료</h4>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class=" d-flex p-3 rounded shadow bg-white">
                                <i class="fas fa-solid fa-fire fs-3 mt-2 ms-3 "></i> <h4 class="title mb-0 mt-2 ms-5">열정</h4>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class=" d-flex p-3 rounded shadow bg-white">
                                <i class="fas fa-solid fa-mug-hot fs-3 mt-2 ms-3 "></i> <h4 class="title mb-0 mt-2 ms-5">Work & Life Balance</h4>
                        </div>
                    </div><!--end col-->

                </div><!--end row-->

            </div>

            <div><img class="w-100 " style="height: 350px" src={% static "imgs/about_us_img/aboutus2.png" %}></div>

        </section>

        <section class="section bg-light  ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 text-center">
                        <div class="  section-title mt-5 mb-4 pb-2 ">
                            <h2 class="title mb-4 fw-bold">우리의 서비스를 만들어가는 이들</h2>
                            <h4 class="text-muted para-desc text-bg-light mx-auto mb-0 fw-bold">고객을 위한 서비스를 만들고 제공하는 사람들입니다. </h4>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row ">

                    <div class="col-lg col-md-5 mt-4 pt-2">
                        <div class="col " >
                            <div class="text-center" >
                                <div  class="con" style=" position: relative ;">
                                  <img id="p_img" src="{% static '/imgs/car_info_imgs/naver_blog.png' %}" class=" img-fluid avatar avatar-ex-large rounded-pill" >
                                     <p id="hidden_t" class="hidden_t" style="position: absolute; text-align:center; top:50%; left: 50%; transform:translate(-50%, -50%)">
                                         11111
                                     </p>
                                </div>

                                <div class="content pt-3 pb-3">
                                    <h4 class="mb-0">이 승 구</h4>
                                    <p class="designation text-muted">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                  <div class="col-lg col-md-5 mt-4 pt-2">
                        <div class="col " >
                            <div class="text-center" >
                                <div  class="con" style=" position: relative ;">
                                  <img id="p_img" src="{% static '/imgs/car_info_imgs/naver_blog.png' %}" class=" img-fluid avatar avatar-ex-large rounded-pill" >
                                     <p id="hidden_t" class="hidden_t fw-bold" style="position: absolute; text-align:center; top:50%; left: 50%; transform:translate(-50%, -50%)">
                                             #체계적인 </br>#책임감 있는</br>#꼼꼼한 분석가
                                         </p>
                                    </div>
                                    <div class="content pt-3 pb-3">
                                        <h4 class="mb-0">임 재 원</h4>
                                        <p class="designation text-muted">	General manager</p>
                                    </div>
                                </div>
                          </div>
                      </div><!--end col-->

                    <div class="col-lg col-md-5 mt-4 pt-2">
                          <div class="col con" >
                                <div class="text-center" >
                                    <div style=" position: relative ;">
                                        <img id="p_img" src="{% static '/imgs/car_info_imgs/naver_blog.png' %}" class="img-fluid avatar avatar-ex-large rounded-pill" >
                                         <p class="hidden_t" >555555555</p>
                                    </div>
                                    <div class="content pt-3 pb-3">
                                        <h4 class="mb-0">김 형 준</h4>
                                        <p class="designation text-muted">C E O</p>
                                    </div>
                                </div>
                          </div>
                      </div><!--end col-->

                    <div class="col-lg col-md-5 mt-4 pt-2">
                          <div class="col con" >
                                <div class="text-center" >
                                    <div style=" position: relative ;">
                                        <img id="p_img" src="{% static '/imgs/car_info_imgs/naver_blog.png' %}" class="img-fluid avatar avatar-ex-large rounded-pill" >
                                         <p class="hidden_t" >555555555</p>
                                    </div>
                                    <div class="content pt-3 pb-3">
                                        <h4 class="mb-0">이 순 우</h4>
                                        <p class="desgnation text-muted">	General manager</p>
                                    </div>
                                </div>
                          </div>
                      </div><!--end col-->


                    <div class="col-lg col-md-5 mt-4 pt-2">
                        <div class="col con" >
                            <div class="text-center" >
                                <div style=" position: relative ;">
                                    <img id="p_img" src="{% static '/imgs/car_info_imgs/naver_blog.png' %}" class="img-fluid avatar avatar-ex-large rounded-pill" >
                                     <p class="hidden_t" style="position: absolute; text-align:center; top:50%; left: 50%; transform:translate(-50%, -50%)">555555555</p>
                                </div>

                                <div class="content pt-3 pb-3">
                                    <h4 class="mb-0">황 현 근</h4>
                                    <p class="designation text-muted">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->



                     <div class=" ms-2 mt-5" >
                        <h3 class=" fw-bold"><i class="bi bi-map-fill"></i> 찾아오시는 길</h3>
                    </div>


                    <div class="mb-5"></div>
                     <div id="googleMap"class="w-100" style="height: 500px; border:1px solid yellow;"></div>
                    <div class="info_list mt-5 mb-5">
                        <ul class="clearfix fw-bold">
                            <li class="info text-decoration-none">
                                <i class="bi bi-geo-alt-fill"></i>
                                <span class="tit" data-brl-use="PH/1">주소</span>
                                <span class="txt" data-brl-use="PH/3">서울특별시 구로구 디지털로 306 (구로동, 대륭포스트타워 2차 203호)</span>
                            </li>
                            <li><br></li>
                            <li class="info">
                                <i class="fas fa-solid fa-phone"></i>
                                <span class="tit" data-brl-use="PH/1">전화번호</span>
                                <span class="txt" data-brl-use="PH/3">02-2127-4000</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}
{%  block script%}
   <script>


        var map;
        var checkbtn = document.getElementById('checkbtn');
        checkbtn.addEventListener('click', locationTest);

        function myMap(){
            mapOptions = {
            center:new google.maps.LatLng(37.485856, 126.897438),
            zoom:17}

            map = new google.maps.Map(
                 document.getElementById("googleMap")
                , mapOptions )

            marker = new google.maps.Marker({
                    position: new google.maps.LatLng(37.485856,126.897438),
                    map:map,

                })

        };


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB00YznqL7pofuUfsPeaWI3JSwA33ftGvY&callback=myMap&region=kr"></script>




{% endblock %}