{% extends 'layout/base.html' %}
{% load static %}

{% block title %}회원가입-가입완료{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div id="main">
    <div class="mt-5">
        <div class="d-flex justify-content-between">
            <h2><i class="bi bi-people-fill"></i> 회원가입</h2>
            <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="badge bg-success p-2">이용약관</span></li>
                <li class="breadcrumb-item">
                    <span class="badge bg-success p-2">정보입력</span></li>
                <li class="breadcrumb-item">
                    <span class="badge bg-success p-2">가입완료</span></li>
            </ol>
            </nav>
        </div>
        <hr>
    </div> <!-- // page header -->

    <div class="mx-5">
        <h3><i class="bi bi-journal-text"></i> 회원가입 완료 </h3>
        <small class="text-muted">안전하고 편리한 홈페이지 이용을 위해 회원님의 아이디와 비밀번호 관리에 주의해 주시기 바랍니다.</small>
        <hr>
    </div> <!-- // subtitle -->

    <div>
        <div class="text-center" >
            <i class="bi bi-check-circle-fill text-success" style="font-size : 10rem" ></i>
            <div class="display-2 text-black-50 mt-2"><span class="text-black fw-bold">회원가입</span>이 완료되었습니다</div>
            <div class="text-black-50 fw-bold fs-5 mt-5">회원님은 모든 기능을 사용할 수 있습니다. 로그인 후 이용하시기 바랍니다.</div>

        </div> <!-- // message -->
        <div class="text-center m-5">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs data-bs-target="#loginmodal"> 로그인 하기</button>
            <button type="button" id="mainbtn" class="btn btn-dark ms-5 "> 메인으로 가기</button>
        </div> <!-- // button -->
    </div> <!-- // complete -->
</div> <!-- // main -->
{% endblock %}

{% block script %}
    <script>
        const mainbtn = document.querySelector('#mainbtn');
        mainbtn.addEventListener('click', () => {
            location.href = '{% url 'index' %}'
        });
    </script>
{% endblock %}
